<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<p>Welcome home!</p>
<!--<p th:value="${use}"-->
this is your homepage
<br>

NeverLand is for all time!
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getNickname()}"></p>

<!--<p th:value="${user.username}"></p>-->
<!--<p th:text="${user.username}">!</p>-->

<!--<form action="#" th:action="@{/show}" th:object="${user}" method="post">-->
<button onclick="{ if(confirm('Show？'))location.href='/user/show'}">Show</button><br>
</form>
<button onclick="{ location.href='/user/whoisit'}">Personal</button><br>
<button onclick="{ location.href='/user/goIndex'}">NeverLand</button>
<button onclick="{ if(confirm('Logout？'))location.href='/user/logout'}">Logout</button>

</body>

</html>